<div class="weathertypes-images">
  <img ng-src="{{img}}" class="weathertypes"
      ng-class="{selected: img === $ctrl.mainImageUrl}"
      ng-repeat="img in $ctrl.weathertypes.images" />
</div>

<h1>{{$ctrl.weathertypes.name}}</h1>

<p>{{$ctrl.weathertypes.description}}</p>

<ul class="weathertypes-thumbs">
  <li ng-repeat="img in $ctrl.weathertypes.images">
    <img ng-src="{{img}}" ng-click="$ctrl.setImage(img)" />
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt>Availability</dt>
      <dd ng-repeat="availability in $ctrl.weathertypes.availability">{{availability}}</dd>
    </dl>
  </li>
  <li>
    <span>Battery</span>
    <dl>
      <dt>Type</dt>
      <dd>{{$ctrl.weathertypes.battery.type}}</dd>
      <dt>Talk Time</dt>
      <dd>{{$ctrl.weathertypes.battery.talkTime}}</dd>
      <dt>Standby time (max)</dt>
      <dd>{{$ctrl.weathertypes.battery.standbyTime}}</dd>
    </dl>
  </li>
  <li>
    <span>Storage and Memory</span>
    <dl>
      <dt>RAM</dt>
      <dd>{{$ctrl.weathertypes.storage.ram}}</dd>
      <dt>Internal Storage</dt>
      <dd>{{$ctrl.weathertypes.storage.flash}}</dd>
    </dl>
  </li>
  <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{$ctrl.weathertypes.connectivity.cell}}</dd>
      <dt>WiFi</dt>
      <dd>{{$ctrl.weathertypes.connectivity.wifi}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{$ctrl.weathertypes.connectivity.bluetooth}}</dd>
      <dt>Infrared</dt>
      <dd>{{$ctrl.weathertypes.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{$ctrl.weathertypes.connectivity.gps | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Android</span>
    <dl>
      <dt>OS Version</dt>
      <dd>{{$ctrl.weathertypes.android.os}}</dd>
      <dt>UI</dt>
      <dd>{{$ctrl.weathertypes.android.ui}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="dim in $ctrl.weathertypes.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{$ctrl.weathertypes.sizeAndWeight.weight}}</dd>
    </dl>
  </li>
  <li>
    <span>Display</span>
    <dl>
      <dt>Screen size</dt>
      <dd>{{$ctrl.weathertypes.display.screenSize}}</dd>
      <dt>Screen resolution</dt>
      <dd>{{$ctrl.weathertypes.display.screenResolution}}</dd>
      <dt>Touch screen</dt>
      <dd>{{$ctrl.weathertypes.display.touchScreen | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt>CPU</dt>
      <dd>{{$ctrl.weathertypes.hardware.cpu}}</dd>
      <dt>USB</dt>
      <dd>{{$ctrl.weathertypes.hardware.usb}}</dd>
      <dt>Audio / headweathertypes jack</dt>
      <dd>{{$ctrl.weathertypes.hardware.audioJack}}</dd>
      <dt>FM Radio</dt>
      <dd>{{$ctrl.weathertypes.hardware.fmRadio | checkmark}}</dd>
      <dt>Accelerometer</dt>
      <dd>{{$ctrl.weathertypes.hardware.accelerometer | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Camera</span>
    <dl>
      <dt>Primary</dt>
      <dd>{{$ctrl.weathertypes.camera.primary}}</dd>
      <dt>Features</dt>
      <dd>{{$ctrl.weathertypes.camera.features.join(', ')}}</dd>
    </dl>
  </li>
  <li>
    <span>Additional Features</span>
    <dd>{{$ctrl.weathertypes.additionalFeatures}}</dd>
  </li>
</ul>
